<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="">
    <clear />
    <add key="URL_WEBSERVICE_DIAN" value="https://facturaelectronica.dian.gov.co/habilitacion/B2BIntegrationEngine/FacturaElectronica/facturaElectronica.wsdl" />

    <!--ParamDelcop-->
    <add key="USER_WEBSERVICE_DIAN" value="46037dfe-ad87-4a69-aae7-5d45e4d5f7ce" />
    <add key="PASSWORD_WEBSERVICE_DIAN" value="18096056255c7eeccf421ab70e24a76a5e5bb4fe2f48fd8b750cafe864e0c2e1" />
    <add key="KEY_TECHNICAL" value="dd85db55545bd6566f36b0fd3be9fd8555c36e" />

    <!--IdentificationCode-->
    <add key ="SET_IDENTIFICATION_CODE" value="1" />
    <add key="IDENTIFICATION_CODE" value="CO" />

    <!--InvoiceControl-->
    <add key ="SET_INVOICE_CONTROL" value="0" />
    <add key="INVOICE_AUTHORIZATION" value="9000000032463782" />
    <add key="START_DATE" value="2016-09-28" />
    <add key="END_DATE" value="2026-09-28" />
    <add key="FROM" value="990000000" />
    <add key="TO" value="995000000" />
    <add key="PREFIX" value="" />

    <!--SoftwareProvider-->
    <add key ="SET_SOFTWARE_PROVIDER" value="1" />
    <add key="PROVIDER_ID" value="860002130" />
    <add key="SOFTWARE_ID" value="46037dfe-ad87-4a69-aae7-5d45e4d5f7ce" />

    <!--SoftwareSecurityCode-->
    <add key ="SET_SOFTWARE_SECURITY_CODE" value="1" />
    <add key="SOFTWARE_SECURITY_CODE" value="1449b5ad569b7b08f4c5db2738e2a8d33887a63446ddb2a90b0abcd76a4de197c4e1ed548d30b2ded900abe6bd8125b1" />

    <!--DateTime-->
    <add key="SET_DATETIME" value="1" />
    <add key="DOC_DATE" value="2016-10-20" />
    <add key="DOC_TIME" value="00:00:00" />

    <!--AutoIncrease-->
    <add key="ID_AUTOINCR" value="1" />
    <add key="ID_INIT_AUTOINCR" value="990001001" />

    <!--OverwriteDocuments-->
    <add key="OVERWRITE_DOCUMENTS_DIRECTORY" value="1" />

    <add key="PATH_JAVA_EXE" value="C:\\Program Files (x86)\\Java\\jre7\\bin\\Java.exe" />
    <add key="COMMAND_EXECUTE_JAVA_SEND" value=" -jar WS.Dian.jar " />
    <add key="COMMAND_EXECUTE_JAVA_SIGN" value=" -jar Firma.Dian.jar " />
    <add key="WORKING_DIRECTORY" value="C:\DIAN\ProcessJAVA" />
    <add key="TIMEOUT" value="3000" />
    <add key="CLAIMED_ROL_SIGN" value="supplier" />
    <add key="SAVE_DOCUMENTS_DIRECTORY" value="C:\Users\Matias\Desktop\APG-Consulting\XLM Envio DIAN/Response" />
    <add key="SAVE_EXTRACT_DOCUMENTS_DIRECTORY" value="C:\Users\Matias\Desktop\APG-Consulting\XLMx100\Extract" />
  </appSettings>
</configuration>